# EJERCICIOS EXTRA
## Extra 1

In [3]:
# La siguiente función debe aceptar un argumento: una cadena.
# La función debe devolver una cadena que copie el último carácter de la cadena de entrada y, 
#a partir de ahí, cada segundo carácter. Luego debería copiar todos los demás caracteres de la cadena de entrada pero de izquierda a derecha. 
#Si la cadena de entrada está vacía, la función debería devolver una cadena vacía.

# POR EJEMPLO al llamar la fucnion : 
# main('abcde') 
# debe resultar en 'ecabd' 

def main(string_1):
  
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [6]:
def  main ( string_1 ): 
  #print(string_1[len(string_1)+1::-1]) 
  frase = string_1 [ len ( string_1 ) + 1 :: - 1 ] 
  #print(frase) 
  resultado = "" 
  for  pos , letra  in  enumerate ( frase ): 
    if  pos % 2 ==0: 
         resultado  +=  letra 
         
  for  pos ,  letra  in  enumerate ( string_1 ): 
    if  pos % 2 ==1: 
       resultado  +=  letra 
      
  print( resultado )

print(main( "abcde" ) )

ecabd
None

In [ ]:
# La siguiente función debe aceptar un argumento: una tupla.

# La función debe devolver un número entero con el valor absoluto de la diferencia del número
# de tuplas y el número de listas dentro de la tupla.

# Por ejemplo, la funcion: 
# main(('k', 'cheers', (8,7), [32.3,-1], (9,))) 
# debe dar 1

def main(tuple_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [7]:
def main(tuple_1):
  t, l = 0, 0
  for i in tuple_1:
    if isinstance(i, tuple): t += 1
    elif isinstance(i, list): l += 1
  return abs(t-1)
main(("k", "cheer", (8,7), [32.3, -1],(9,), (2,True)))

2

In [ ]:
# La siguiente función debe aceptar un argumento: un diccionario. Las claves son números enteros y
# valores son listas

# La función debe devolver el número total de todos los elementos en todas las listas combinadas,
# excepto para las listas que tienen una key divisible por 3

# Por ejemplo: 
# main({1: [1,2,3], 2: [1,2,3], 3: [1,2,3]})  
# da 6 

def main(dictionary_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [12]:
def main(dictionary_1):
  num = 0
  for i in dictionary_1.keys():
    if i % 3: num = num + len(dictionary_1[i])
  print(num)
main({1: [1,2,3], 2: [1,2,3], 3: [1,2,3], 4: [1,2,3,4,5], 5: [1,2,3]})

14

In [15]:
# La siguiente función debería aceptar una lista de cadenas

# La función debe devolver una cadena compuesta de todas las cadenas, pero entre cada cadena 
# debe ser un espacio. Excepto si la cadena es un solo !, ., o un ?
# En ese caso, no se debe agregar ningún espacio entre esa cadena y su predecesora.

# POr ejemplo: 
# main(['People', 'are', 'Funny', '.'])  
# da como resultado 'People are Funny.' 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [17]:
def main(list_1):
   ' '.join(list_1)
   return(print(' '.join(list_1)))

main(['People', 'are', 'Funny', '.'])

People are Funny .

## Extra 2

In [19]:
# La siguiente función debería aceptar cuatro argumentos: cuatro enteros

# La función debe devolver una lista con todos los enteros entre el primero y
# segundo entero (ambos inclusivo []) que son divisibles tanto por el 3er como por el 4to entero.

# Por ejemplo: 
# main(100, 800, 100, 200) 
# Debe dar [200, 400, 600, 800] 

def main(integer_1, integer_2, integer_3, integer_4):
    #Corrige las lienas para que se de el resultado deseado
    pass

In [18]:
def main(integer_1, integer_2, integer_3, integer_4):
    arg = [i for i in range(integer_1, integer_2+1) if i%integer_4==0]
    return arg

main(100, 800, 100, 200)

[200, 400, 600, 800]

In [ ]:
# La siguiente función debería aceptar como argumento una lista con 3 enteros como elementos

# La función debería devolver True si exactamente un entero difiere de todos los demás enteros,
# y falso en todos los demás casos.

# Por ejemplo: 
# main([1, 1, 2]) 
# debe dar como resultado true 

def main(list_1):
  
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [20]:
def main(list_1):
    list_2 = list_1
    list_3 = list_1[:]
    return (print(list_1 == list_2 == list_3))

main([1, 1, 2])

True

In [23]:
# La función a continuación debe aceptar dos argumentos, una cadena y una lista con caracteres individuales
# La función debe devolver una cadena en orden inverso mientras duplica cualquier carácter en la lista

# Por ejemplo:
# main("abalone", ["a","i"]) 
# resulta en : "enolaabaa" 

def main(string_1, list_1):
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [22]:
def main(string_1, list_1):
    a=(string_1[::-1])
    b=(list_1[0])
    return a+b
 
main("abalone", ["a","i"])

'enolabaa'

In [25]:
# La siguiente función debe aceptar un argumento, una lista con números enteros y flotantes
# La función debe devolver una lista con solo números enteros y flotantes que terminen en 2

# Por ejemplo: 
# main([12, 2., .12, 3 ]) 
# debe dar: [12, .12 ] 

def main(list_1):
  
    #Corrige las lienas para que se de el resultado deseado 
    pass

In [24]:
def main(list_1):
  arg = []
  for m in list_1:
    if m == int(12) or m == 00.0012*(10**2):
      arg.append(m)
  return arg

main([12, 2., .12, 3 ])

[12, 0.12]

## Extra 3

In [ ]:
# La siguiente función debería aceptar un argumento, una lista con al menos 2 enteros
# La función debe devolver una lista en el mismo orden pero sin el segundo número más alto

# Por ejemplo:
# main([12, 2, 22, 3 ]) 
# debe dar:  [2, 22, 3 ] 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [26]:
def main(list_1):
    list_1.sort()
    arg = [ i for i in list_1 if i != list_1[-2]]
    return arg 

main([12, 2, 22, 3 ])

[2, 3, 22]

In [ ]:
# La siguiente función debe aceptar dos argumentos, un número entero y una lista con números enteros
# La función debe devolver una lista con Verdadero y Falso para todos los enteros en la lista
# por el cual el primer argumento es divisible y False en caso contrario.

# Por ejemplo: 
# main(10, [12, 2, 22, 5 ]) 
# debe dar [False, True, False, True] 

def main(integer_1, list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [28]:
def main(integer_1, list_1):
    list_1 = list_1[:]
    result = []
    for m in list_1:
      if integer_1%m == 0:
        result.append(True)
      else:
        result.append(False)

    return result

main(10, [12, 2, 22, 5 ])

[False, True, False, True]

In [ ]:
# La siguiente función debe aceptar un argumento, una lista con cadenas
# La función debe devolver un diccionario con como claves las cadenas y como valores
# las longitudes de las cadenas

# Por ejemplo: 
# main(["ad", "abc", "ab"]) 
# debe dar {"ad":2, "abc":3, "ab":2} 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [29]:
def main(list_1):
    valor=0
    values=[]
    dic=""
    for cont in list_1:
      valor=len(cont)
      values.append(valor)
    dic=dict(zip(list_1,values))
    return dic

main(["ad", "abc", "ab"])

{'ab': 2, 'abc': 3, 'ad': 2}

In [ ]:
# La siguiente función debe aceptar un argumento, una lista con cadenas

# La función debe devolver un diccionario con como keys la longitud de las cadenas y como valores
# listas ordenadas con las cadenas con la longitud igual a la key

# Por ejemplo: 
# main(["ab", "abc", "ad"]) 
# debe dar {2: ["ab", "ad"], 3: ["abc"]} 

def main(list_1):
    list_1 = list_1[:]
    #Corrige las lienas para que se de el resultado deseado
    pass

In [30]:
def main(list_1):
    list_1 = list_1[:]
    letras_dic = dict()  
    contador = 0 

    for letra in list_1: 
        if letra in letras_dic: 
            if letras_dic[letra] == 1: 
                contador += 1 
            letras_dic[letra] += 1 
        else:
            letras_dic[letra] = 1 
    
        return letras_dic

main(["ab", "abc", "ad"])

{'ab': 1}