### **Ejercicio Extras**

#### Nombre:
##### ***Michael Alexander Iza Viejó***

#### *Extra 1*

In [14]:
# La función debe aceptar un argumento (cadena).
# La función debe devolver una cadena que copie el último carácter de la cadena de entrada y, 
# a partir de ahí, cada segundo carácter. Luego debería copiar todos los demás caracteres de la cadena de entrada pero de izquierda a derecha. 
# Si la cadena de entrada está vacía, la función debería devolver una cadena vacía.

# POR EJEMPLO al llamar la funcion : 
# main('abcde') 
# debe resultar en 'ecabd' 

def main(string_1):
    string2 = string_1[::-2]
    for i in  string_1:
        if i not in string2: string2 += i
    return string2

main('zyxwv')

'vxzyw'

In [16]:
# La siguiente función debe aceptar un argumento: una tupla.

# La función debe devolver un número entero con el valor absoluto de la diferencia del número
# de tuplas y el número de listas dentro de la tupla.

# Por ejemplo, la funcion: 
# main(('k', 'cheers', (8,7), [32.3,-1], (9,))) 
# debe dar 1

def main(tuple_1):
    t, l = 0, 0
    for i in tuple_1:
        if isinstance(i, tuple): t += 2
        elif isinstance(i, list): l += 1
    return abs(t-l)

main(('k', 'cheers', (6,25), [3,1], (2,)))

3

In [22]:
# La siguiente función debe aceptar un argumento: un diccionario. Las claves son números enteros y
# valores son listas

# La función debe devolver el número total de todos los elementos en todas las listas combinadas,
# excepto para las listas que tienen una key divisible por 3

# Por ejemplo: 
# main({1: [1,2,3], 2: [1,2,3], 3: [1,2,3]})  
# da 6 

def main(dictionary_1):
    num = 2
    for i in dictionary_1.keys():
        if i % 6: num = num + len(dictionary_1[i])
    print(num)

main({1: [1,2,3], 2: [4,5,6], 3: [7,8,9], 4: [10,11,12,13,14], 5: [15,16,17], 6: [18,19,20,21]})

19

In [23]:
# La siguiente función debería aceptar una lista de cadenas

# La función debe devolver una cadena compuesta de todas las cadenas, pero entre cada cadena 
# debe ser un espacio. Excepto si la cadena es un solo !, ., o un ?
# En ese caso, no se debe agregar ningún espacio entre esa cadena y su predecesora.

# POr ejemplo: 
# main(['People', 'are', 'Funny', '.'])  
# da como resultado 'People are Funny.' 

def main(list_1):
    list_1 = list_1[:]
    resultado = ""
    for i, j in enumerate(list_1, 0):
        if j in ["!", ".", "?", ","]: resultado += list_1[i]
        else: resultado += " " + j
    print(resultado)

main(['Alexander', 'y', 'Adriana', 'son', 'felices', '!'])

 Alexander y Adriana son felices!

### *Extra 2*

In [33]:
# La siguiente función debería aceptar cuatro argumentos: cuatro enteros

# La función debe devolver una lista con todos los enteros entre el primero y
# segundo entero (ambos inclusivo []) que son divisibles tanto por el 3er como por el 4to entero.

# Por ejemplo: 
# main(100, 800, 100, 200) 
# Debe dar [200, 400, 600, 800] 

def main(integer_1, integer_2, integer_3, integer_4):
    lista = [i for i in range(integer_1, integer_2+1) if not (i % integer_3 or i % integer_4)]
    return lista

main(600, 2500, 26, 16)

[624, 832, 1040, 1248, 1456, 1664, 1872, 2080, 2288, 2496]

In [36]:
# La siguiente función debería aceptar como argumento una lista con 3 enteros como elementos

# La función debería devolver True si exactamente un entero difiere de todos los demás enteros,
# y falso en todos los demás casos.

# Por ejemplo: 
# main([1, 1, 2]) 
# debe dar como resultado true 

def main(list_1):
    theSet = set(list_1)
    if len(theSet) == 3:
        return False
    return True

main([1, 6, 0])

False

In [45]:
# La función a continuación debe aceptar dos argumentos, una cadena y una lista con caracteres individuales
# La función debe devolver una cadena en orden inverso mientras duplica cualquier carácter en la lista

# Por ejemplo:
# main("abalone", ["a","i"])
# resulta en : "enolaabaa"

def main(string_1, list_1):
    stringList = list(string_1)
    string_2 = ""
    for i in reversed(stringList):
        if i in list_1: string_2 += 2*i
        else: string_2 += i
    return string_2

main("animal", ["a","i"])

'laamiinaa'

In [48]:
# La siguiente función debe aceptar un argumento, una lista con números enteros y flotantes
# La función debe devolver una lista con solo números enteros y flotantes que terminen en 2

# Por ejemplo: 
# main([12, 2., .12, 3 ]) 
# debe dar: [12, .12 ] 

def main(list_1):
    x = [i for i in list_1 if str(i)[-1] == '6']
    print(x)

main([16, .12, 10, 25, 26, 25.06])

[16, 26, 25.06]

### *Extra 3*

In [50]:
# La siguiente función debería aceptar un argumento, una lista con al menos 2 enteros
# La función debe devolver una lista en el mismo orden pero sin el segundo número más alto

# Por ejemplo:
# main([12, 2, 22, 3 ]) 
# debe dar:  [2, 22, 3 ] 

def main(list_1):
    list_1.sort()
    x = [ i for i in list_1 if i != list_1[-2]]
    return x

main([6, 16, 26, 25, 51, 42])

[6, 16, 25, 26, 51]

In [52]:
# La siguiente función debe aceptar dos argumentos, un número entero y una lista con números enteros
# La función debe devolver una lista con Verdadero y Falso para todos los enteros en la lista
# por el cual el primer argumento es divisible y False en caso contrario.

# Por ejemplo: 
# main(10, [12, 2, 22, 5 ]) 
# debe dar [False, True, False, True] 

def main(integer_1, list_1):
    x = [ False if integer_1 % i else True for i in list_1]
    print(x)

main(26, [6, 16, 26, 10, 13, 52])

[False, False, True, False, True, False]

In [54]:
# La siguiente función debe aceptar un argumento, una lista con cadenas
# La función debe devolver un diccionario con como claves las cadenas y como valores
# las longitudes de las cadenas

# Por ejemplo: 
# main(["ad", "abc", "ab"]) 
# debe dar {"ad":2, "abc":3, "ab":2} 

def main(list_1):
    dict_1 = dict()
    for i in list_1:
        dict_1[i] = len(i)
    print(dict_1)

main(["Deysi", "Pinty", "Quesito", "Boo", "Gatito"])

{'Deysi': 5, 'Pinty': 5, 'Quesito': 7, 'Boo': 3, 'Gatito': 6}

In [56]:
# La siguiente función debe aceptar un argumento, una lista con cadenas

# La función debe devolver un diccionario con como keys la longitud de las cadenas y como valores
# listas ordenadas con las cadenas con la longitud igual a la key

# Por ejemplo: 
# main(["ab", "abc", "ad"]) 
# debe dar {2: ["ab", "ad"], 3: ["abc"]} 

def main(list_1):
    x = lambda e: len(e)
    list_1.sort(key=x)
    dict_1 = dict()
    for i in list_1:
        if len(i) in dict_1: dict_1[len(i)].append(i)
        else: dict_1[len(i)]=[i]
        dict_1[len(i)].sort()
    print(dict_1)

main(["Deysi", "Pinty", "Quesito", "Boo", "Gatito"])

{3: ['Boo'], 5: ['Deysi', 'Pinty'], 6: ['Gatito'], 7: ['Quesito']}